<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/ps1.css" />
    <link rel="icon" href="img/2.png" />
    <title>Playstation 2</title>
  </head>

  <body>
    <header class="cabecera">
      <div class="logo">
        <a href="index.html" class="logo"
          ><img src="img/2.png" width="70" height="70" alt="LOGO PS"
        /></a>
      </div>
    </header>

    <header class="cabecera1">
      <div>
        <nav class="navegacion1">
          <ul>
            <li><a href="playstation-1.html">Playstation 1</a></li>
            <li><a href="playstation-2.html">Playstation 2</a></li>
            <li><a href="playstation-3.html">Playstation 3</a></li>
            <li><a href="playstation-4.html">Playstation 4</a></li>
            <li><a href="playstation-5.html">Playstation 5</a></li>
            <li><a href="#">Realidad V.</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section>
      <h1 class="titulo">La Playstation 2 o PS2:</h1>
      <p>
        Una de las principales características distintivas son su procesador
        central conocido como Emotion Engine y su controlador de Dualshock 2.
        También el equipo incorpora un lector de DVD y 2 puertos USB 1.0
        (algunos controladores utilizan estos puertos).
      </p>
      <div class="ps">
        <img src="img/ps2.webp" width="300" height="400" alt="ps1" />
      </div>
      <p>
        En la versión PlayStation 2 Slim se incorporó un puerto Ethernet para
        que pueda ser utilizado el servicio de internet Central Station. El
        mismo puerto puede ser agregado a las versiones originales de la consola
        y fue la primera consola con disco duro, además, mucha gente formateo la
        Playstation 2 para grabar un juego en un DVD virgen y así poder jugarlos
        en la Ps2.
      </p>
      <div class="ps">
        <img src="img/PS2_Slim.webp" width="300" height="400" alt="psone" />
      </div>
      <p>
        Algunos juegos incorporan la posibilidad de jugar a través de una red de
        área local (LAN), lo que permite además jugar por internet a través del
        sistema gratuito XLink Kai. Desde el año 2000 hasta el año 2013, rompió
        el récord como la videoconsola más vendida de la historia, con
        aproximadamente más de 155 millones de consolas comercializadas. Tras 12
        años en el mercado, siendo una de las consolas más longevas de la
        historia, fue finalmente descontinuada el 4 de enero de 2013, siendo su
        último juego FIFA 14.
      </p>
      <div class="ps">
        <img src="img/fifa14.jpg" width="300" height="400" alt="psone" />
      </div>
      <p>INTRO DE LA CONSOLA</p>
      <div style="text-align: center">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/B9WAa1GyK60?autoplay=1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </section>
    <footer class="pie">
      Diseñado y creado por CESAR SANCHEZ - TODOS LOS DERECHOS RESERVADOS
    </footer>
  </body>
</html>
