<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/ps1.css" />
    <link rel="icon" href="img/2.png" />
    <title>Playstation 3</title>
  </head>

  <body>
    <header class="cabecera">
      <div class="logo">
        <a href="index.html" class="logo"
          ><img src="img/2.png" width="70" height="70" alt="LOGO PS"
        /></a>
      </div>
    </header>

    <header class="cabecera1">
      <div>
        <nav class="navegacion1">
          <ul>
            <li><a href="playstation-1.html">Playstation 1</a></li>
            <li><a href="playstation-2.html">Playstation 2</a></li>
            <li><a href="playstation-3.html">Playstation 3</a></li>
            <li><a href="playstation-4.html">Playstation 4</a></li>
            <li><a href="playstation-5.html">Playstation 5</a></li>
            <li><a href="#">Realidad V.</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section>
      <h1 class="titulo">La Playstation 3 o PS3:</h1>
      <p>
        La PS3 se presentó en el año 2005. No llevaron una versión funcional del
        sistema,13 debido a cortes de electricidad y problemas de hardware, ni
        en el Tokyo Game Show de septiembre de 2005, aunque se hicieron
        demostraciones (como del juego Metal Gear Solid 4: Guns of the Patriots)
        mostrando en ambos eventos el kit de desarrollo de software.
      </p>

      <div class="ps">
        <img src="img/ps3.jpg" width="300" height="400" alt="ps1" />
      </div>
      <p>
        También se mostraron secuencias de vídeo basadas en las especificaciones
        pronosticadas. Sin embargo, posteriormente se reveló que las
        demostraciones de juegos no estaban funcionando en tiempo real sobre la
        máquina y utilizaron diversos trucos de post-producción.
      </p>
      <div class="ps">
        <img src="img/ps3_slim.png" width="500" height="400" alt="psone" />
      </div>
      <p>
        Lanzada al mercado mundialmente el 11 de noviembre de 2006, fue
        descontinuada el 29 de mayo de 2017, y su último videojuego conocido ha
        sido FIFA 19.
      </p>
      <div class="ps">
        <img src="img/ff19.webp" width="300" height="400" alt="psone" />
      </div>
      <p>INTRO DE LA CONSOLA</p>
      <div style="text-align: center">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/f-QRrdhEE10?autoplay=1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </section>
    <footer class="pie">
      Diseñado y creado por CESAR SANCHEZ - TODOS LOS DERECHOS RESERVADOS
    </footer>
  </body>
</html>
