<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/ps1.css" />
    <link rel="icon" href="img/2.png" />
    <title>Playstation 5</title>
  </head>

  <body>
    <header class="cabecera">
      <div class="logo">
        <a href="index.html" class="logo"
          ><img src="img/2.png" width="70" height="70" alt="LOGO PS"
        /></a>
      </div>
    </header>

    <header class="cabecera1">
      <div>
        <nav class="navegacion1">
          <ul>
            <li><a href="playstation-1.html">Playstation 1</a></li>
            <li><a href="playstation-2.html">Playstation 2</a></li>
            <li><a href="playstation-3.html">Playstation 3</a></li>
            <li><a href="playstation-4.html">Playstation 4</a></li>
            <li><a href="playstation-5.html">Playstation 5</a></li>
            <li><a href="#">Realidad V.</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section>
      <h1 class="titulo">La Playstation 5 o PS5:</h1>
      <p>
        En una entrevista con Wired en abril de 2019, Mark Cerny, declaró que
        Sony estaba trabajando en una quinta consola sin nombre de la marca
        PlayStation que serviría como entrada a la próxima generación de
        consolas. Sin embargo, el día 8 de octubre de 2019, a través de un
        comunicado en el blog de Sony PlayStation, Sony hizo oficial el nombre
        de su consola de próxima generación, la cual fue llamada PlayStation 5,
        la empresa a su vez, afirmó que incluirá nueva tecnología y mejoras en
        los controles.
      </p>

      <div class="ps">
        <img src="img/ps5d.jpg" width="300" height="400" alt="ps1" />
      </div>
      <p>
        De acuerdo con Cerny, la consola usará el procesador Ryzen de AMD con la
        arquitectura Zen 2 de 7 nm y con una GPU de la familia Navi de Radeon
        que incluye soporte para el renderizado de trazado de rayos en tiempo
        real, y aún sería compatible con medios físicos.
      </p>
      <div class="ps">
        <img src="img/ps5si.jpg" width="500" height="400" alt="psone" />
      </div>
      <p>Mejor juego de la consola fue Gof Of War RAGNAROK</p>
      <div class="ps">
        <img
          src="img/ps5-god-of-war-ragnarok.webp"
          width="400"
          height="600"
          alt="psone"
        />
      </div>
      <p>INTRO DE LA CONSOLA</p>
      <div style="text-align: center">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/teEYRfu2GGA?AUTOPLAY=1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </section>
    <footer class="pie">
      Diseñado y creado por CESAR SANCHEZ - TODOS LOS DERECHOS RESERVADOS
    </footer>
  </body>
</html>
