<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/ps1.css" />
    <link rel="icon" href="img/2.png" />
    <title>Playstation 4</title>
  </head>

  <body>
    <header class="cabecera">
      <div class="logo">
        <a href="index.html" class="logo"
          ><img src="img/2.png" width="70" height="70" alt="LOGO PS"
        /></a>
      </div>
    </header>

    <header class="cabecera1">
      <div>
        <nav class="navegacion1">
          <ul>
            <li><a href="playstation-1.html">Playstation 1</a></li>
            <li><a href="playstation-2.html">Playstation 2</a></li>
            <li><a href="playstation-3.html">Playstation 3</a></li>
            <li><a href="playstation-4.html">Playstation 4</a></li>
            <li><a href="playstation-5.html">Playstation 5</a></li>
            <li><a href="#">Realidad V.</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section>
      <h1 class="titulo">La Playstation 4 o PS4:</h1>
      <p>
        Su lanzamiento fue el 15 de noviembre de 2013 en Estados Unidos y en
        Europa y Sudamérica fue el 29 de noviembre de 2013.
      </p>

      <div class="ps">
        <img src="img/ps4fat.jpg" width="300" height="400" alt="ps1" />
      </div>
      <p>
        Cuenta con una memoria Ram 8 veces más potente que la de la PlayStation
        3. Esta consola compite con Wii U y Switch de Nintendo y Xbox One de
        Microsoft.
      </p>
      <div class="ps">
        <img src="img/ps4slim.jpg" width="500" height="400" alt="psone" />
      </div>
      <p>Mejor juego de la consola fue Gof Of War 4</p>
      <div class="ps">
        <img src="img/god4.webp" width="400" height="600" alt="psone" />
      </div>
      <p>INTRO DE LA CONSOLA</p>
      <div style="text-align: center">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/3uFWnIGmiMQ?autoplay=1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </section>
    <footer class="pie">
      Diseñado y creado por CESAR SANCHEZ - TODOS LOS DERECHOS RESERVADOS
    </footer>
  </body>
</html>
